<div class="mobile-nav" data-js-class="MobileNav">

  <div class="mobile-nav--header">

    {% if settings.search--show-in-header %}
      <div class="mobile-nav--search font--accent">
        <a href="/search">{{ 'general.search.search' | t }}</a>
      </div>
    {% endif %}

    {% if shop.customer_accounts_enabled %}
      <div class="mobile-nav--login font--accent">
        {% include 'layout--login' with 'modal' %}
      </div>
    {% endif %}
  </div>

  <div class="mobile-nav--menu"></div>

  <div class="mobile-nav--contact-button"></div>

</div>