<div class="layout--login">

  {% if customer %}
    {% assign view_account_link = 'layout.header.account_view_link' | t %}
    {% capture view_account_link %}<a href="/account">{{ view_account_link }}</a>{% endcapture %}
    {{ view_account_link }}
  {% else %}
    {% assign login_link = 'layout.header.account_view_link' | t %}
    {% assign login_link = login_link | customer_login_link %}

    {% if shop.customer_accounts_optional %}
      {{ login_link }}
    {% else %}
      {{ login_link }}
    {% endif %}
  {% endif %}

</div>
