<div class="feedback-bar" data-js-class="FeedbackBar" data-feedback-bar--open="false">
  <div class="feedback-bar--message">
    <span data-feedback-bar--message="contact-modal">
     {{ 'contact_page.success_feedback' | t }}
    </span>
    <span data-feedback-bar--message="newsletter">
      {{ 'general.mailing_list.success_message' | t }}
    </span>
  </div>
</div>